<h3 class="page-header">Add blog post</h3>
<form #regForm="ngForm" novalidate (ngSubmit)="onAddSubmit(regForm.value, regForm.valid)">
    <div class="form-group">
        <label>Name</label>
        <input type="text" [(ngModel)]="blog.name" name="name" class="form-control" (focusout)="onFocusoutName(regForm.value, regForm.valid)" #name="ngModel">
        <small *ngIf='!blogNameValid && name.dirty' class="text-danger">already taken</small>
        <small *ngIf='!name.valid' class="text-danger">required</small>
    </div>
    <div class="form-group">
        <label>Body</label>
        <input type="text" [(ngModel)]="blog.bodytext" name="bodytext" class="form-control" #bodytext="ngModel" required>
        <small *ngIf='!bodytext.valid' class="text-danger">required</small>
    </div>
    <div class="form-group">
        <label>tags</label>
        <input type="text" [(ngModel)]="blog.tags" name="tags" class="form-control" #tags="ngModel" required>
        <small *ngIf='!tags.valid' class="text-danger">required</small>
    </div>
    <input type="submit" class="btn btn-primary" value="Submit" [disabled]="!regForm.valid">
</form>