div {
    margin: 0 auto;
    border: 5;
}

img {
    /*float: left;
    margin-left: 0;
    margin-right: 1em;
    padding: 0;
    margin: 3em; */
    margin: 0 auto;
    width: 35px;
    height: auto;
    opacity: 0.7
}

.row {
    /*padding: 1em;*/
    margin-right: 5%;
    margin-left: 5%;
    height: 4vh;
    padding-bottom: 10px;
}