<div class="row">
    <div class="col-xs-2">
        <a href="mailto:drewgray@gmail.com">
            <img src="http://assets.drwgry.com/img/mail.png">
        </a>
    </div>
    <div class="col-xs-2">
        <a href="http://www.facebook.com/drewagray">
            <img src="http://assets.drwgry.com/img/fb.png">
        </a>
    </div>
    <div class="col-xs-2">
        <a href="https://www.linkedin.com/in/david-gray-b09ba426">
            <img src="http://assets.drwgry.com/img/linked.png">
        </a>
    </div>
    <div class="col-xs-2">
        <a href="http://www.github.com/drewgray">
            <img src="http://assets.drwgry.com/img/gh.png">
        </a>
    </div>
    <div class="col-xs-2">
        <a href="http://www.instagram.com/peglegchuck">
            <img src="http://assets.drwgry.com/img/insta.png">
        </a>
    </div>
    <div class="col-xs-2">
        <a href="http://www.google.com/+DrewGray0">
            <img src="http://assets.drwgry.com/img/gplus.png">
        </a>
    </div>
</div>