<ul class="nav nav-tabs">
    <li class="active cars"><a href="#gtr" data-toggle="tab">GTR</a></li>
    <li class="cars"><a href="#talon" data-toggle="tab">Talon</a></li>
    <li class="cars"><a href="#grom" data-toggle="tab">Grom</a></li>
    <li class="cars"><a href="#evoque" data-toggle="tab">Evoque</a></li>
    <li class="cars"><a href="#oldcars" data-toggle="tab">Previous</a></li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="gtr">
        <br>
        <carousel [interval]="interval">
            <slide *ngFor="let image of gtrImages">
                <img src={{image.url}} class="car" />
            </slide>
        </carousel>
    </div>
    <div class="tab-pane fade" id="talon">
        <br>
        <carousel [interval]="interval">
            <slide *ngFor="let image of talonImages">
                <img src={{image.url}} class="car" />
            </slide>
        </carousel>
    </div>
    <div class="tab-pane fade" id="grom">
        <br>
        <carousel [interval]="interval">
            <slide *ngFor="let image of gromImages">
                <img src={{image.url}} class="car" />
            </slide>
        </carousel>
    </div>
    <div class="tab-pane fade" id="evoque">
        <br>
        <carousel [interval]="interval">
            <slide *ngFor="let image of evoqueImages">
                <img src={{image.url}} class="car" />
            </slide>
        </carousel>
    </div>
    <div class="tab-pane fade" id="oldcars">
        <br>
        <carousel [interval]="interval">
            <slide *ngFor="let image of oldImages">
                <img src={{image.url}} class="car" />
            </slide>
        </carousel>
    </div>
</div>