.cars {
    width: 5em;
    text-align: left;
}

.tab-content {
    text-align: center;
    min-height: 69vh;
}

.car {
    width: 100%;
    height: auto;
    max-width: 600px;
}

.car img {
    width: 100%;
    height: auto;
}

.mods {
    text-align: center;
}