.cars {
    width: 10vw;
    text-align: left;
}

.tab-content {
    text-align: center;
}

.car {
    width: 60vw;
    /*max-width: 600px;*/
    height: auto;
    max-height: 70vh;
}

.car img {
    width: 100%;
    height: auto;
}

.mods {
    text-align: center;
}