h3 {
    text-align: center;
}

p {
    text-align: center;
}

.circle {
    /*-moz-border-radius: 50%;
    -webkit-border-radius: 50%;*/
    border-radius: 10vw;
    border: 3px solid #BADA55;
}

a {
    text-decoration: none;
}

.circle:hover {
    background-color: lightgray;
}