<div class="jumbotron text-center">
    <h1> Welcome </h1>
    <p class="lead">you have stumbled upon my site</p>
    <div>
        <!--<a class="btn btn-primary" [routerLink]="['/register']">Register</a> -->
        <!--<a class="btn btn-default" [routerLink]="['/login']">Login</a>-->
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <a [routerLink]="['/projects']">
            <h3>Projects</h3>
            <p>Random stuff that I have been working on</p>
        </a>
    </div>
    <div class="col-md-4">
        <a [routerLink]="['/resume']">
            <h3>Resume</h3>
            <p>Take a look at my history</p>
        </a>
    </div>
    <div class="col-md-4">
        <a [routerLink]="['/cars']">
            <h3>Cars</h3>
            <p>A view into my car addiction</p>
        </a>
    </div>
</div>