<div class="jumbotron text-center">
    <h1> Random text about the site! </h1>
    <p class="lead">This is the lead/top story...</p>
    <div>
        <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Projects</h3>
        <p>Neat lil words about projects interested in...</p>
    </div>
    <div class="col-md-4">
        <h3>Resume</h3>
        <p>Work history words about stuffffs</p>
    </div>
    <div class="col-md-4">
        <h3>Family</h3>
        <p>words about family and friend stuff. MEOW</p>
    </div>
</div>